apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://127.0.0.1:{{ prometheus_port }}
    isDefault: true
    editable: true
  - name: Loki
    type: loki
    access: proxy
    url: http://{{ ansible_host | default(ansible_default_ipv4.address) }}/loki
    editable: true
