[Unit]
Description=Grafana Loki
After=network.target
Wants=network.target

[Service]
User=loki
Group=loki
Type=simple
ExecStart=/usr/local/bin/loki -config.file=/etc/loki/config.yml
Restart=always
RestartSec=2
WorkingDirectory=/var/lib/loki

[Install]
WantedBy=multi-user.target
